---
layout: default
title: "Despăgubiri Vătămare Corporală. Daune Materiale și Morale"
description: >-
  Avocat specializat în despăgubiri pentru vătămarea corporală suferită în
  accidente auto. Recuperăm daune materiale și morale pentru victime și
  familiile acestora. Consultație gratuită, București.
image: /assets/images/varzaru-logo.png
---

{% include hero.html %}
{% include vatamare.html %}
{% include servicii.html %}
{% include despre.html %}
{% include afilieri.html %}
{% include intrebari.html %}
{% include testimoniale.html %}
{% include contact.html %}
